/*
* custom.css
by Rajiv Gangwar
* File include item Custom only specific css only
******************************************************************************/

.smileIcon {
  font-size: 2.5rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border: 2px solid transparent;
  border-radius: 50%;
}
.sadIcon{
  color: red; /* Sad icon */
}

.mehIcon{
  color: orange; /* Meh icon */
}

.happyIcon{
  color: green; /* Happy icon */
}

.smileIcon:hover {
  transform: scale(1.3); 
}

.bg-project {
  background-color: #73a455;
  color: #f8f9fb;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.2rem;
}

.privacy-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* min-height: calc(100vh - (1.625rem * 2)); */
  /* text-align: center; */
}

.bg-custom-primary {
  background-color: #f6f6ff;
}

.rj-section {
  border: 1px solid #d8e2ef;
  border-radius: 8px;
  padding: 10px;
}

.clr-theme {
  color: #186cff;
}

.text-link {
  text-decoration: underline !important;
  /* text-align: center !important; */
  cursor: pointer !important;
  font-size: 1.2rem;
}

.bg-menu-theme .menu-text {
  color: #73a455;
}

.app-brand-text.demo {
  font-size: 1.25rem;
  color: #73a455;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.btn-primary {
  color: #fff;
  background-color: #186cff !important;
  border-color: #186cff !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(25 108 254 / 61%) !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #186cff !important;
  border-color: #186cff !important;
  transform: translateY(-1px);
}

.bg-menu-theme .menu-inner>.menu-item.active>.menu-link {
  color: #ffffff;
  background-color: rgb(24 108 255) !important;
}

.input-group:focus-within .form-control,
.input-group:focus-within .input-group-text {
  border-color: #186cff;
}

.form-control:focus,
.form-select:focus {
  border-color: #186cff;
}

.bg-menu-theme .menu-inner>.menu-item.active:before {
  background: #186cff;
}

.menu-inner-shadow {
  top: 5.225rem;
}

.menu-vertical .menu-header {
  margin: 0.5rem 0 0.5rem 0;
}

.menu-vertical .app-brand {
  padding-right: 2rem;
  padding-left: 1rem;
}

.navbar-detached {
  /* box-shadow: 0 0 0.375rem 0.25rem rgb(161 172 184 / 15%); */
  box-shadow: none;
}

.layout-navbar {
  background-color: rgb(245 245 249) !important;
}

.layout-navbar.navbar-detached {
  border-radius: 0;
  border-bottom: 1px solid #dadfe5;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus {
  background-color: #186cff;
  color: #fff;
  /* box-shadow: 0 2px 4px 0 rgb(85, 106, 164); */
  box-shadow: 0 0.125rem 0.25rem 0 rgb(25 108 254 / 61%);
}

.nav .nav-link:hover,
.nav .nav-link:focus {
  color: #566a7f;
}

.btn-check:checked+.btn-outline-primary,
.btn-check:active+.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
  color: #fff;
  background-color: #186cff;
  border-color: #186cff;
}

.btn-outline-primary {
  color: #186cff;
  border-color: #186cff;
  background: transparent;
}

table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:before {
  position: absolute;
  display: block;
  opacity: .125;
  right: 10px;
  line-height: 9px;
  font-size: 1.9em !important;
  color: #00163e !important;
}

.bg-menu-theme .menu-link,
.bg-menu-theme .menu-horizontal-prev,
.bg-menu-theme .menu-horizontal-next {
  color: #697a8d;
  font-weight: 600;
}


/* for order read more css start three dots  */

#more {
  display: none;
}

/* for order read more css end three dots  */

.btndisplay{
  display: none;
}

/* for Mutiselect dropdown box start */

.ms-options-wrap>button:focus,
.ms-options-wrap>button {
  border: 1px solid #d9dee3;
  border-radius: 0.375rem;
}

.ms-options-wrap,
.ms-options-wrap * {
  list-style: none;
}

.ms-options-wrap>.ms-options {
  border: 1px solid #d9dee3;
  border-radius: 0.375rem;
}

/* for Mutiselect dropdown box end */


/* for amazon pdf design page start */

.bg-grey {
  background-color: #f2f2f2 !important;
  ;
}

.bg-green-1 {
  background-color: #70ad47 !important;
  color: #fff !important;
}

.bg-green-2 {
  background-color: #a9d08e !important;
  color: #000 !important;
}

.bg-green-3 {
  background-color: #c6e0b4 !important;
  color: #000 !important;
}

.bg-green-4 {
  background-color: #e2efda !important;
  color: #000 !important;
}

.table-green {
  background-color: #375623 !important;
  color: #ffff;
}

.color-red {
  color: red !important;
}

.float-left {
  float: left !important;
}

.bg-sky-blue {
  background-color: #9bc2e6 !important;
  color: #000 !important;
}

/* for amazon pdf design page end */

.section-1,
.section-2,
.section-3,
.section-4 {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

/* chat_box */
.bar_tool li {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

.blog {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.alink {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.wte-foot input[type="text"],
button {
  padding: 4px 8px;
  border: 0;
  outline: 0;
  border-radius: 5px 0px 0px 5px;
}

.wte-foot textarea {
  padding: 4px 8px;
  border: 0;
  outline: 0;
  border-radius: 5px 0px 0px 5px;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button:hover i {
  color: #79c7c5;
  transform: scale(1.2);
}

.chat_box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat_box>* {
  padding: 15px;
}

/* head */
.wte-head {
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  border-radius: 5px;
  margin-bottom: 5px;
}

.wte-head .wte-user {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.wte-head .wte-user .avatar {
  margin-right: 8px;
}

.wte-head .wte-user .avatar img {
  display: block;
  border-radius: 50%;
}

.wte-head .bar_tool {
  display: flex;
  margin-bottom: 0rem;
}

.wte-head .bar_tool i {
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* body */
.wte-body {
  flex-grow: 1;
  background-color: #f5f5f9;
  border-radius: 10px;
  height: 345px;
  max-height: 345px;
}

.lh-16 {
  line-height: 16px;
}

@media screen and (min-width:1400px) {
  .wte-body {
    height: 260px;
    max-height: 260px;
  }
  .wte-body-walmart {
    height: 400px;
    max-height: 400px;
  }

  .lh-16 {
    line-height: 20px;
  }
}

.wte-body .bubble {
  /* display: inline-block; */
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.wte-body .bubble p {
  color: #f9fbff;
  font-size: 11px;
  text-align: left;
  line-height: 1.4;
  margin: 0;
}

.wte-body .bubble pre {
  overflow-wrap: anywhere !important;
  overflow: hidden !important;
  font-size: 12px !important;
  height: fit-content !important;
  width: fit-content !important;
}

.wte-body .incoming {
  text-align: left;
}

.wte-body .incoming .bubble {
  background-color: #b2b2b2;
}

.wte-body .outgoing {
  text-align: right;
}

.wte-body .outgoing .bubble {
  background-color: #73a455;
}

/* foot */
.wte-foot {
  display: flex;
  background-color: #eeeeee;
  margin-top: 5px;
  border-radius: 5px;
}

.wte-foot .msg {
  flex-grow: 1;
}

@keyframes bounce {
  50% {
    transform: translate(0, 5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

/* .ellipsis {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #73a455;
} */

.dot_1 {
  /* animation: name duration timing-function delay iteration-count */
  animation: bounce 0.8s linear 0.1s infinite;
}

.dot_2 {
  animation: bounce 0.8s linear 0.2s infinite;
}

.dot_3 {
  animation: bounce 0.8s linear 0.3s infinite;
}

/* chat css css end  */



.bg-header {
  background-color: #eaefff !important;
  padding: 5px;
  border-radius: 5px;
}

.EcommLogo {
  height: 23px;
  margin-left: 5px;
}

/* .bg-theme h5 {
  color: #ffffff !important;
} */

/* chat widget*/
.css-yt3r0y {
  color: rgb(0, 0, 0) !important;
}

.css-yt3r0y {
  overflow-y: scroll !important;
  height: 500px !important;
}

.css-3sein2 {
  margin-top: 0 !important;
}

.css-1ehscoc {
  width: 40px !important;
  height: 40px !important;
}

.css-7wxq0a {
  font-size: 14px !important;
  color: #fff !important;

}

.css-1y0l9k4 {
  font-size: 14px !important;
  color: #fff !important;
}

.css-175qlx4 {

  overflow-y: scroll !important;
}

.newTag {
  font-size: 1rem;
  color: #455A64;
  display: block;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  border: 0.125rem solid #CFD8DC;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  transition: 0.5s all;
}

.newTag:focus,
.newTag:active {
  outline: none;
  border: 0.125rem solid #81C784;
  box-shadow: 0 0 0.5rem rgba(67, 160, 71, 0.15);
}

ul.tagList {
  display: block;
  padding: 0;
  margin: 0;
}

ul.tagList::after {
  content: "";
  clear: both;
  display: table;
}

ul.tagList li {
  position: relative;
  list-style: none;
  float: left;
  font-size: 0.835rem;
  text-transform: capitalize;
  background-color: #186cff;
  color: #fff;
  line-height: 1rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  word-break: break-all;
}

ul.tagList li>span.rmTag {
  position: absolute;
  margin: 0.25rem;
  top: 0;
  right: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  background-color: #186cff;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

ul.tagList li>span.rmTag:hover {
  background-color: #186cff;
}

.ss-width {
  width: 400px !important;
}

.norm-width {
  width: 100px !important;
}

.pagination {
  float: right;
}

.pagination li {
  padding: 5px;
  color: black;
}

.pagination li>a {

  color: #333 !important;
  min-width: 2.0em;
  text-align: center;

}

.pagination li.active>a {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #979797 !important;
  color: white !important;
}

.text-justify {
  text-align: justify !important
}

.img-adjust {
  width: 40px;
  height: 40px;
}

.dataTables_wrapper {
  position: unset !important;
}

.dataTables_wrapper .dataTables_scrollBody {
  position: unset !important;
}

.dropdown {
  position: unset !important;
}

.Rj-Align {
  display: flex;
  align-items: center;
}

.RjEqual {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rj-section {
  border: 1px solid #d8e2ef;
  border-radius: 8px;
  padding: 10px;
}

.RjParaSet {
  line-height: 17px;
  margin-bottom: 1px;
  color: red;
  margin-top: 5px;
  text-align: justify;
}

.Rj-CardScroll {
  min-height: 280px;
  max-height: 280px;
  overflow: auto !important;
}

.Rj-CardScroll2 {
  min-height: 410px;
  max-height: 410px;
  overflow-y: visible;
  overflow-x: hidden;
}

.Rj-CardScroll2-walmart{
  min-height: 53px;
  max-height: 530px;
  overflow-y: visible;
  overflow-x: hidden;
}

.Rj-CardScroll3 {
  min-height: 416px;
  max-height: 416px;
  overflow-y: visible;
  overflow-x: hidden;
}

.Rj-CardScroll4 {
  min-height: 368px;
  max-height: 368px;
  overflow-y: visible;
  overflow-x: hidden;
}

.Rj-CardScrollNew {
  min-height: 350px;
  max-height: 350px;
  overflow: auto !important;
}

.card-body {
  padding: 1rem 1rem !important;
}

.Rj-Note {
  font-size: 11px;
  color: red;
  margin-bottom: 2px;
  text-align: justify;
}

.Email-Note {
  font-size: 12px;
  color: red;
  margin-bottom: 13px;
  text-align: center;
}

.ul-set {
  margin-left: 0rem;
  margin-bottom: 0px;
  padding: 0rem 2rem;
}

.ul-set p {
  margin-bottom: 5px;
}

.appointment_widgets-xl--revamp {
  padding-bottom: 0rem !important;
  padding-top: 0rem !important;
}


/* start Css for calendar */
.wrapper {
  margin: 15px auto;
  max-width: 1100px;
}

.container-calendar {
  background: #ffffff;
  padding: 15px;
  /* max-width: 475px; */
  margin: 0 auto;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #186cff;
  color: #fff;
  border: 1px solid #186cff;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td,
.table-calendar th {
  padding: 20px;
  border: 1px solid #fff;
  text-align: center;
  vertical-align: top;
}

.date-picker.selected {
  /* font-weight: bold; */
  /* color:#E5E4E2 ; */
  /* font-weight: bold;
    font-size: 17px;
    color: #fff;
    background-color: #5d1fcf; */
}

.date-picker.selected span {
  border-bottom: 2px solid #186cff;
}

/* sunday */
.date-picker:nth-child(1) {
  color: red;
}

.date-picker.disabled {
  cursor: default;
  background-color: #fff;
  color: #a3a19f;
}

#calendar-body .active-slot {
  cursor: pointer;
  background-color: #c0a9e94a;
  color: #186cff;
  font-weight: bold;
}

.date-picker.active {
  /* font-weight: bold; */
  /* color:#E5E4E2 ; */
  font-weight: bold;
  font-size: 17px;
  color: #fff !important;
  background-color: #5d1fcf !important;
}

/* friday */
/* .date-picker:nth-child(6) {
color: green;
} */

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
  /* border-bottom: 1px solid #ccc; */
}

#previous {
  /* float: left; */
  position: absolute;
  left: 0;
  top: 0;

}

#next {
  /* float: right; */
  position: absolute;
  right: 0;
  top: 0;
}

.bg-color-thead {
  color: #186cff;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}

/* .widgets-time-slots {
  list-style: none; 
  padding: 0;
}

.widgets-time-slot {
  border: 1px solid #000; 
  padding: 5px; 
}

.widgets-time-slot span {
  text-decoration: none; 
} */

.widgets-time-slots .widgets-time-slot>span {
  align-items: center;
  /* background: #186cff; */
  border: 1px solid #186cff !important;
  border-radius: 4px;
  box-sizing: border-box;
  color: #186cff;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  text-align: center;
  transition: all .2s ease;
  width: 100%;
}

.widgets-time-slots .widgets-time-slot .clicked {
  align-items: center;
  background: #186cff;
  /* border: 1px solid #186cff !important; */
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  text-align: center;
  transition: all .2s ease;
  width: 100%;
}

.appointment {
  align-items: center;
  /* background: #186cff; */
  border: 1px solid #186cff !important;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  text-align: center;
  transition: all .2s ease;
  width: 100%;
}

.widgets-time-slots .widgets-time-slot.actived>span {
  background: var(--appointment_widgets-light-text-color) !important;
  border: none !important;
  color: var(--appointment_widgets-background-color);
  width: calc(60% - 1.5rem);
}

.widgets-time-slots .widgets-time-slot.actived button {
  align-items: center;
  background: #fff;
  background: var(--appointment_widgets-primary-color);
  border-color: var(--appointment_widgets-primary-color);
  border-style: solid;
  color: var(--appointment_widgets-background-color);
  display: flex;
  font-size: 13px;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  margin-left: 1rem;
  min-width: 80px !important;
  padding: 0;
  transform: translate(0);
  visibility: visible;
  width: 45%;
  z-index: 2;
}

.widgets-time-slot {
  align-items: center;
  display: flex;
  position: relative;
}


body.Padre {
  background-color: #003640;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all .55s ease;
  background-image: url("https://publicaudiovisual.com/assets/Images/AI/zoombieMovil.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom, center;
  background-size: 15%, cover;
}

#loaderCircular {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #003640;
  border-radius: 50%;
  border-top: 16px solid #000000;
  border-right: 16px solid #186cff;
  border-bottom: 16px solid #000000;
  border-left: 16px solid #186cff;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 30%;
  }

  100% {
    transform: rotate(360deg);
    opacity: 40%;
  }
}

/* #myDivCenter { display: none; text-align: center; color: #f5faf7;} */

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}


/* End Css for calendar */

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s;
}